/*  Bootstrap Clearfix */
/*  Tablet  */
@media (min-width:767px){
    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: none;
    }
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: left;
    }
}

/*  Medium Desktop  */
@media (min-width:992px){

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: none;
    }
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: left;
    }
}

/*  Large Desktop  */
@media (min-width:1200px){

    /* Column clear fix */
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: none;
    }
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1){
        clear: left;
    }
}
@media (max-height: 775px) {
    .store-view .box-holder .footer-holder{
        /*margin-top: 1.5% !important;*/
        margin-top: -7.8% !important;
    }
}
@media (max-height: 700px) {
    .store-view .box-holder .footer-holder{
        margin-top: -7.8% !important;
    }
    .store-view .menu-holder{
        padding-bottom: 1.5% !important;
    }
}
@media (max-width: 767px){
    .menu-holder .visible-xs .logo{
        margin-top: 7px;
    }
    .menu-holder .visible-xs .logo a:hover{
		text-decoration: none;
	}
	.menu-holder .visible-xs .logo img{
		width: 220px;
	}
	.logo-copyright.pull-right a img{
		width: 120px;
	}
	.navbar-toggle{
		margin-right: 0px !important;
	}
    .menu-holder, .menu-holder .close-btn{
        margin-top: 10px !important;
    }
    .navbar-default .menu-holder .list-inline > li{
        display: inline-block;
        width: 80%;
        text-align: center;
        padding-right: 0px !important;
    }
    .menu-holder #navbar{
        width: 100%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: none !important;
    }
    .box .img-box .hover p {
        margin: 0px -1.2% !important;
    }
    #overLayBar{
        width: 0px !important;
    }
    .store-view{
        overflow: auto !important;
    }
	.sidr-open button#simple-menu{
		position: fixed;
		right: 230px;
		background-color: #FFF !important;
		padding: 19px 50px 20px 100% !important;
		top: 0px;
		margin-top: 0px;
		border-radius: 0px;
	}
	.navbar-toggle .icon-bar{
		height: 2px;
	}
	.sidr-open .navbar-header, .sidr-open .menu-holder{
		background: #FFF !important;
	}
	.menu-holder button img{
		max-height: 18px;
		max-width: 30px !important;
		width: 26px;
	}
	.close-btn a img{
		max-width: 20px;
	}
	.store-view .close-btn a img{
		margin-top: -1px !important;
		max-width: 16px;
	}
	.sidr-open .close-btn a:hover, .sidr-open .close-btn a:focus{
		text-decoration: none;
		color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background: none !important;
		border: none !important;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #000000;
		width: 23px !important;
	}
	.navbar-toggle{
		padding: 5px 0px !important;
		border: none !important;
	}
}
@media (max-width: 950px) {
    .carousel, .container.slider-container{
        height: 100%;
    }
    .row.box-holder{
        height: 75%;
    }
    .vertical-align-img{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
}
.logo-copyright a:hover{
	text-decoration: none;
}
.logo-copyright.pull-right a.hidden-xs img{
	margin-right: -25px;
}
.vertical-align-img{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-header {
        float: none;
    }
}
@media screen and (orientation:portrait) {
    .carousel .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        -webkit-background-size: 100% auto !important;
        -moz-background-size: 100% auto !important;
        -o-background-size: 100% auto !important;
        background-size: 100% auto !important;
    }
}
@media screen and (orientation:landscape) {
    .carousel .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        -webkit-background-size: auto 100% !important;
        -moz-background-size: auto 100% !important;
        -o-background-size: auto 100% !important;
        background-size: auto 100% !important;
    }
}
@media only screen and (min-width : 320px) and (max-width : 479px) {
	#overLay{
		left: 40px !important;
	}
	#phrase p img{
		max-width: 35px !important;
		margin-left: -40px;
	}
	.hide-mobile{
		display: none !important;
	}
	#overLayClick{
		display: none !important;
	}
	.menu-holder .visible-xs .logo img{
		width: 200px !important;
	}
	.carousel .item.active, .carousel-inner{
		line-height: 100%;
	}
	.menu-holder ul li a, .menu-holder .close-btn a{
		color: #fff !important;
		text-align: left !important;
		padding-left: 20px;
	}
	.sidr-open button#simple-menu{
		position: fixed;
		right: 230px;
		background-color: #FFF !important;
		padding: 19px 50px 20px 100% !important;
		top: 0px;
		margin-top: 0px;
		border-radius: 0px;
	}
	.navbar-toggle .icon-bar{
		height: 2px;
	}
	.sidr-open .navbar-header, .sidr-open .menu-holder{
		background: #FFF !important;
	}
	.menu-holder button img{
		max-height: 18px;
		max-width: 30px !important;
		width: 26px;
	}
	.close-btn a img{
		max-width: 20px;
	}
	.store-view .close-btn a img{
		margin-top: -1px !important;
		max-width: 16px;
	}
	.box-holder .item{
		margin-bottom: 20px !important;
	}
	.menu-holder ul li a{
		font-size: 24px !important;
		margin-top: 1px;
	}
	.store-view .cms .line-block .top-line-block{
		margin: 10px auto !important;
	}
	body .cms .line-block:first-child .top-line-block {
		margin-top: 0px !important;
		margin-bottom: 20px !important;
	}
	.cms .top-line-block{
		margin: 30px auto 50px !important;
	}
	.sidr-open .close-btn a{
		/*color: #000;
		text-decoration: none !important;
		font-family: misoregular;
		font-size: 75px !important;
		position: absolute;
		right: 20px;
		top: -17px;
		-webkit-transform: rotate(-134deg);*/
	}
	.sidr-open .close-btn a:hover, .sidr-open .close-btn a:focus{
		text-decoration: none;
		color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background: none !important;
		border: none !important;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #000000;
		width: 23px !important;
	}
	.navbar-toggle{
		padding: 5px 0px !important;
		border: none !important;
	}
	.box .img-box .hover p {
		margin: 0px -1.6% !important;
		z-index: 20;
		background: #FFF;
		position: absolute;
		width: auto !important;
		padding: 8px 0px;
		overflow: visible;
		top: 40%;
		bottom: 0px;
		height: 40px;
		right: 0px;
		left: 0px;
	}
	.box-holder .footer-holder p{
		font-size: 21px !important;
	}
	.store-view .logo-copyright img{
		width: 100px !important;
	}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
	.row.box-holder{
		/*height: 95% !important;*/
	}
}
@media only screen 
  and (min-height: 150px) 
  and (min-width: 300px)
  and (max-height: 600px)
  and (orientation: landscape) {
	.store-view .navbar.navbar-default{
		height: auto !important;
	}
}

@media only screen 
  and (min-height: 150px) 
  and (max-width: 400px)
  and (orientation: portrait) {
	.store-view .navbar.navbar-default{
		height: auto !important;
	}
}

@media only screen 
  and (min-height: 150px)
  and (min-width: 300px)
  and (max-width: 3500px)
  and (max-height: 700px)
  and (orientation: landscape) {
	.store-view .navbar.navbar-default{
		height: auto !important;
	}
}

@media only screen and (min-height: 1200px){
	.store-view .navbar.navbar-default{
		height: 10.53% !important;
	}
}

/*FONTS*/
@font-face {
    font-family: 'misoregular';
    src: url('../fonts/miso-regular-webfont.eot');
    src: url('../fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/miso-regular-webfont.woff2') format('woff2'),
    url('../fonts/miso-regular-webfont.woff') format('woff'),
    url('../fonts/miso-regular-webfont.ttf') format('truetype'),
    url('../fonts/miso-regular-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'misolight';
    src: url('../fonts/miso-light-webfont.eot');
    src: url('../fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/miso-light-webfont.woff2') format('woff2'),
    url('../fonts/miso-light-webfont.woff') format('woff'),
    url('../fonts/miso-light-webfont.ttf') format('truetype'),
    url('../fonts/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'misobold';
    src: url('../fonts/miso-bold-webfont.eot');
    src: url('../fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/miso-bold-webfont.woff2') format('woff2'),
    url('../fonts/miso-bold-webfont.woff') format('woff'),
    url('../fonts/miso-bold-webfont.ttf') format('truetype'),
    url('../fonts/miso-bold-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*OVERLAY*/
#overLay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left: 20px;
    top: 0;
    display: table;
    cursor: pointer;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}
#overLayClick {
    position: fixed;
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    cursor: pointer;
}
.overlayTransition {
    -ms-transition: -ms-transform .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}
.overlayClickTransition {
    -ms-transition: -ms-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
#overLayImage {
    background-color: #1C322F;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#overLayImage img {
    display: none;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
}
#overLayBar {
    height: 100%;
    background-image: url('../images/black_bar.png');
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 999;
}
#phrase {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    padding: 50px;
    z-index: 1000;
    position: relative;
}
#phrase img {
    width: 70%;
    height: auto;
}
.logo a:hover{
	text-decoration: none !important;
}
/*NAVBAR*/
.navbar-fixed-top, .navbar-fixed-bottom{
    z-index: 800;
}
.navbar-default{
    background: #FFFFFF;
    border: none;
}
.navbar-default .menu-holder .list-inline > li:last-child{
    padding-right: 0px;
}
.navbar-default .menu-holder .list-inline > li {
    display: inline-block;
    padding-right: 20px;
}
.menu-holder{
    margin-top: 42px;
    float: left;
    width: 100%;
    padding-bottom: 15px;
}
.menu-holder ul li a, .menu-holder .close-btn a{
    color: #112D34;
    text-decoration: none;
    font-family: misoregular;
    font-size: 24px;
}
.menu-holder ul li a.active, .menu-holder ul li a:hover{
    text-decoration: underline !important;
}
/*IMAGE BOXES*/
.box .img-box{
    position: relative;
}
.box .img-box img{
    z-index: 10;
}
.box .img-box .hover{
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url('../images/bg-white-5.png') repeat center center;
    position: absolute;
}
.box .img-box .hover p {
    z-index: 20;
	background: #FFF;
	margin: 0px -0.8%;
	line-height: normal;
	width: 100.5%;
	text-align: center;
	padding: 8px 12px;
	vertical-align: middle;
	color: #112D34;
	text-decoration: none;
	font-family: misoregular;
	font-size: 22px;
	overflow: visible;
}
.col-md-4 .box .img-box .hover p{
    margin: 0px -0.8%;
}
.box-holder .item {
    margin-bottom: 40px;
}
.box-holder .footer-holder{
    float: left;
    width: 100%;
}
.box-holder .footer-holder p{
    color: #112D34;
    text-decoration: none;
    font-family: misoregular;
    font-size: 22px;
	margin-bottom: 0;
}
.box-holder .footer-holder p.no-bottom{
    margin-bottom: -10px;
}
.vertical-align-reference{
    display: inline-block !important;
    height: 100%;
    vertical-align: middle;
}
.vertical-align{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
}
html, body {
    height: 100%;
}
.carousel{
    padding: 0px 20px !important;
    width: 100%;
}
.carousel-inner > .item > img{
    display: inline-block;
}
.carousel .item.active, .carousel-inner {
    height: 100%;
    text-align: center;
}
.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: auto 100% !important;
    -moz-background-size: auto 100% !important;
    -o-background-size: auto 100% !important;
    background-size: auto 100% !important;
}
.carousel-indicators li{
    display: none;
}
.carousel-fade .item {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out !important;
    -moz-transition: opacity 0.8s ease-in-out !important;
    -ms-transition: opacity 0.8s ease-in-out !important;
    -o-transition: opacity 0.8s ease-in-out !important;
    transition: opacity 0.8s ease-in-out !important;
    left: 0 !important;
}
.carousel-fade .active{
    opacity: 1 !important;
}
.carousel-fade .carousel-control {
    opacity: 0 !important;
}
.carousel-control{
    background-image: none !important;
    text-shadow: none !important;
    width: 25%;
}
.carousel-control.left{
    cursor: url('../images/cursor/arrowleft.cur'), default;
    background-image: none !important;
}
.carousel-control.right {
    background-image: none !important;
    cursor: url('../images/cursor/arrownext.cur'), default;
}
.no-bottom{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/*CMS CSS*/
.cms a:hover{
	text-decoration: underline;
}
.cms p, .cms ul li, .cms a{
    color: #112D34;
    text-decoration: none;
    font-family: misoregular;
    font-size: 22px;
}
.cms .line-block:first-child .top-line-block{
    margin-top: 0px !important;
}
.cms .line-block{
    width: 63%;
    margin: 0px auto;
}
.cms .top-line-block{
    background: #112d34;
    height: 2px;
    margin: 50px auto;
    text-align: center;
    width: 69%;
    clear: both;
}
.cms .space-img{
    margin: 30px 0px;
}
.cms .no-p-space p{
    margin-bottom: 0px !important;
}
.store-view{
    overflow: hidden;
}
.store-view .slider-container{ height: 88.47%; }
.store-view .carousel-inner .item img{ max-height: 100%; }
.store-view #carousel{ height: 100%; }
.store-view .item{ margin-bottom: 0; }
.store-view .slider-container .image-slider.box-holder{
	position: relative;
    height: 84.63%;
    /*height: 76.8%;*/
    /*margin-bottom: 37px;*/
}
.store-view .footer-slider{ height: 17.37%; }
.store-view .navbar.navbar-default{
    margin-bottom: 0 !important;
    height: 11.53%;
}
/*.footer-holder .pull-right {
	margin-right: -1.2%;
}
.footer-holder .pull-left {
  margin-left: -0.7%;
}*/
.store-view .menu-holder{
    /*margin-top: 45px;*/
	/*margin-left: -8px;*/
    float: left;
    width: 100%;
    padding-bottom: 0;
    /*padding-bottom: 33px;*/
}
.store-view .box-holder .footer-holder {
    /*margin: 0px 0px 25px 0px;*/
    float: none;
    width: 98%;
}
.store-view .menu-holder .close-btn a{
    margin: -2px 0px 2px 0px !important;
    float: left;
}
.store-view .navbar-fixed-bottom{
    background: none !important;
}