/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mårten Nettelbladt
 * License URL: http://www.fontspring.com/licenses/marten-nettelbladt/webfont
 *
 *
 */

@font-face {
    font-family: 'misolight';
    src: url('miso-light-webfont.eot');
    src: url('miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-light-webfont.woff2') format('woff2'),
         url('miso-light-webfont.woff') format('woff'),
         url('miso-light-webfont.ttf') format('truetype'),
         url('miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

